:root{
    --main-color: #17B091;
    --secondar-color: #013153;
    --black-color: #000;
    --white-color: #fff;    
}
/* ----- Hero section ----- */
.hero-section {
  height: 62.5vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/contact\ bg.png");
  background-position: center;
  background-size: cover;
}
.hero-contant{
    margin-top: 50px;
}
.hero-section h1 {
    font-weight: 800;
  font-size: 3rem;
}
/* ----- contact section ----- */
.contact-section{
    padding: 100px 0;
    background: white;
}
.contact-section .contact-info h1{
    margin-top: 20px;
    font-weight: 800;
}
.contact-section .contact-info p{
    margin-top: 20px;
    font-size: 18px;
}
.contact-section .contact-info .icon{
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact-section .contact-info .icon span{
    font-size: 18px;
}
.contact-section .contact-info  a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.contact-section .contact-info a:hover{
    text-decoration: underline;
}
.contact-card{
    width: 100%;
    height: auto;
    margin: auto;
    background: #ffffff;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contact-card h5{
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-card input{
    padding: 15px 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.contact-card .message{
    padding: 10px 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 170px;
}
.contact-btn button{
  padding: 12px 30px;
  font-size: 18px;
  background-color: #17b091;
  color: #fff;
  margin-top: 20px;
  font-weight: 600;
  border: none;
  line-height: 26.4px;
}

@media (max-width: 500px) {
  .hero-section h1 {
    font-size: 2rem;
  }
}