:root {
  --main-color: #17b091;
  --secondar-color: #013153;
  --black-color: #000;
  --white-color: #fff;
}

.bg-white{
    background: white;
}
.bg-gray{
    background: #F4F4F4;
}

/* ----- Hero section ----- */
.hero-section {
  height: 70.5vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/Venture\ Club\ bg.png");
  background-position: center;
  background-size: cover;
  padding-top: 210px !important;
}
.hero-section h1 {
  font-size: 4rem;
  font-weight: 800;
}
.hero-section span{
   color: var(--white-color);
  font-weight: 800;
}
.hero-section button{
    color: var(--white-color);
    border: 3px solid var(--main-color);
}
.hero-section button:hover{
    background: var(--white-color);
    border: 3px solid var(--main-color);
    color: var(--black-color);
}
/* ----- approach section ----- */
.network-section{
    padding: 100px 0;
}
.network-section ul{
    margin-top: 20px;
}
.network-section ul li{
    margin-top: 10px;
}

/* ----- meetimg section ----- */
.meetimg-section{
    padding: 100px 0;
}
/* ----- jemison section ----- */
.jemison-section{
    padding: 100px 0;
}
.jemison-section h4{
    font-size: 1.6rem;
    font-weight: 800;
}
.jemison-section h5{
    font-weight: 800;
}
.jemison-paragraf{
    width: 50% !important;
}
/* ----- winners section ----- */
.winners-section{
    padding: 30px 0;
}
.all-winners-lists{
    margin: auto;
    max-width: 700px !important;
}
.winners-list{
    padding: 12px 20px;
}
.winners-list .name{
    font-weight: 700;
}
/* ----- winners section ----- */
.requirements-section{
    background: white;
    padding: 80px 0;
}
.requirements-heading h5{
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--main-color);
}
.requirements-heading h3{
    letter-spacing: 1.5px;
    font-weight: 600;
}
.requirements-section .container{
    margin-top: 50px;
}
.requirements-section .requirement-box{
    margin-top: 15px;
}
.requirement-box span{
    font-weight: 600;
}
.requirement-text{
    margin: 20px 0;
}
.requirement-text span{
    color: var(--main-color);
    font-weight: 800;
}
/* ----- who was  section ----- */
.whowas-section{
    padding: 80px 0;
    background: var(--white-color);
}
.whowas-section h3{
    font-weight: 700;
    margin-bottom: 20px;
}
.whowas-section p{
    margin-top: 10px;
}
@media (max-width: 1200px) {
.hero-section h1 {
    width: 100% !important;
  font-size: 3rem;
}
}
@media (max-width: 768px) {
.hero-section h1 {
    width: 100% !important;
  font-size: 2.5rem;
  font-weight: 800;
}
.hero-section span{
    font-size: 15px;
}
.hero-section button{
    font-size: 14px;
}
.jemison-paragraf{
    width: 90% !important;
}
}
@media (max-width: 410px) {
.hero-section{
    padding-top: 150px !important;
}
.hero-section h1 {
    width: 100% !important;
  font-size: 2.3rem;
  font-weight: 800;
}
.hero-section span{
    font-size: 15px;
}
.hero-section button{
    font-size: 14px;
}
.winners-list span{
    font-size: 13px;
}
}